Repository joaquinmurcia/ATSE-Microservice-Delivery-System: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-boxmanagement, build-deliverymanagement, build-emailnotification, build-eureka-discovery-service, build-gateway, build-usermngmt, package-deliverymanagement, package-emailnotification, package-eureka-discovery-service, package-gateway, package-usermngmt

Path conditions:
  build-boxmanagement: any of: backend/boxmanagement/src/**/*
  build-deliverymanagement: any of: backend/deliverymanagement/src/**/*
  build-emailnotification: any of: backend/emailnotification/src/**/*
  build-eureka-discovery-service: any of: backend/eureka-discovery-service/src/**/*
  build-gateway: any of: backend/gateway/src/**/*
  build-usermngmt: any of: backend/usermngmt/src/**/*
  package-deliverymanagement: any of: backend/deliverymanagement/src/**/*
  package-emailnotification: any of: backend/emailnotification/src/**/*
  package-eureka-discovery-service: any of: backend/eureka-discovery-service/src/**/*
  package-gateway: any of: backend/gateway/src/**/*
  package-usermngmt: any of: backend/usernmgnmt/src/**/*

bugfix updateDelivery
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/controller/DeliveryController.java
Due: build-deliverymanagement, package-deliverymanagement

bugfix update box
  backend/boxmanagement/src/main/java/edu/tum/ase/asedelivery/boxmanagement/controller/BoxController.java
Due: build-boxmanagement

encrypt password when updating user
  backend/usermngmt/src/main/java/edu/tum/ase/asedelivery/usermngmt/controller/UserController.java
Due: build-usermngmt

bugfix setting customers rfid token in create deliveries
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/controller/DeliveryController.java
Due: build-deliverymanagement, package-deliverymanagement

Bugfix setting target customer rfid token in create deliveries
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/controller/DeliveryController.java
Due: build-deliverymanagement, package-deliverymanagement

bugfix usermanagement update users email
  backend/usermngmt/src/main/java/edu/tum/ase/asedelivery/usermngmt/controller/UserController.java
Due: build-usermngmt

make mockdata consistent
  backend/boxmanagement/src/main/java/edu/tum/ase/asedelivery/boxmanagement/BoxManagementApplication.java
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/DeliveryManagementApplication.java
  backend/usermngmt/src/main/java/edu/tum/ase/asedelivery/usermngmt/UserMngmtApplication.java
Due: build-boxmanagement, build-deliverymanagement, build-usermngmt, package-deliverymanagement

Update Delivery form to new Models
  frontend/ase_frontend/src/views/Delivery/AddNewDeliveryForm.js
  frontend/ase_frontend/src/views/Delivery/DeliveriesList.js
  frontend/ase_frontend/src/views/Delivery/EditDeliveryForm.js
Due: none

Update User Form to new Models
  frontend/ase_frontend/src/views/User/AddNewUserForm.js
  frontend/ase_frontend/src/views/User/EditUserForm.js
  frontend/ase_frontend/src/views/User/UsersList.js
Due: none

Update Box to new model
  frontend/ase_frontend/src/views/Box/BoxesList.js
  frontend/ase_frontend/src/views/Box/boxesSlice.js
Due: none

update requests for deliveries
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
Due: none

update basic get
  frontend/ase_frontend/src/views/Box/boxesSlice.js
  frontend/ase_frontend/src/views/User/usersSlice.js
Due: none

update slicers
  frontend/ase_frontend/src/views/Box/boxesSlice.js
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
Due: none

Update lists
  frontend/ase_frontend/src/views/Box/BoxesList.js
  frontend/ase_frontend/src/views/Delivery/DeliveriesList.js
  frontend/ase_frontend/src/views/User/UsersList.js
Due: none

update slicer
  frontend/ase_frontend/src/views/User/usersSlice.js
Due: none

update editbox
  frontend/ase_frontend/src/views/Box/EditBoxForm.js
Due: none

update login preset
  frontend/ase_frontend/src/views/Login.js
Due: none

update requests
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
Due: none

Update .gitlab-c2.yml
  .gitlab-c2.yml
Due: none

Fix PUT CORS and header problems
  backend/gateway/src/main/resources/application.yml
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
Due: build-gateway, package-gateway

add delete call to gateway
  backend/gateway/src/main/resources/application.yml
Due: build-gateway, package-gateway

Update list component and fix api calls
  frontend/ase_frontend/src/views/Delivery/DeliveriesList.js
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
Due: none

update consistent mockdata
  backend/boxmanagement/src/main/java/edu/tum/ase/asedelivery/boxmanagement/BoxManagementApplication.java
Due: build-boxmanagement

Update Userform and implement api requests
  backend/usermngmt/src/main/java/edu/tum/ase/asedelivery/usermngmt/controller/UserController.java
  frontend/ase_frontend/src/views/User/AddNewUserForm.js
  frontend/ase_frontend/src/views/User/EditUserForm.js
  frontend/ase_frontend/src/views/User/UsersList.js
  frontend/ase_frontend/src/views/User/usersSlice.js
Due: build-usermngmt

Implement address form and api requests
  frontend/ase_frontend/src/views/Box/AddNewBoxForm.js
  frontend/ase_frontend/src/views/Box/BoxesList.js
  frontend/ase_frontend/src/views/Box/EditBoxForm.js
  frontend/ase_frontend/src/views/Box/boxesSlice.js
Due: none

add semicolons to delivery form
  frontend/ase_frontend/src/views/Delivery/AddNewDeliveryForm.js
  frontend/ase_frontend/src/views/Delivery/EditDeliveryForm.js
Due: none

Remove test fetch
  frontend/ase_frontend/src/views/Login.js
Due: none

clean and add search for delivery Id
  frontend/ase_frontend/src/views/Delivery/DeliveriesList.js
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
Due: none

add login slicer
  frontend/ase_frontend/src/app/store.js
  frontend/ase_frontend/src/views/Login.js
  frontend/ase_frontend/src/views/loginSlice.js
Due: none

update header based on state
  frontend/ase_frontend/src/Header.js
  frontend/ase_frontend/src/views/loginSlice.js
Due: none

remove deliveryId form field
  frontend/ase_frontend/src/views/Box/AddNewBoxForm.js
  frontend/ase_frontend/src/views/Box/EditBoxForm.js
Due: none

Update DeliveryController.java bugfix update delivery Box
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/controller/DeliveryController.java
Due: build-deliverymanagement, package-deliverymanagement

Update DeliveryController.java bugfix update delivery box update handling
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/controller/DeliveryController.java
Due: build-deliverymanagement, package-deliverymanagement

add Sub
  frontend/ase_frontend/src/views/loginSlice.js
Due: none

add reload button
  frontend/ase_frontend/src/views/Box/BoxesList.js
  frontend/ase_frontend/src/views/Delivery/DeliveriesList.js
  frontend/ase_frontend/src/views/User/UsersList.js
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none
