Repository joaquinmurcia/ATSE-Microservice-Delivery-System: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-boxmanagement, build-deliverymanagement, build-emailnotification, build-eureka-discovery-service, build-gateway, build-usernmgnmt

build-boxmanagement:
  stage: build
  image: maven:latest
  script:
  - cd ./backend/boxmanagement
  - chmod +x mvnw
  - ./mvnw clean compile

build-deliverymanagement:
  stage: build
  image: maven:latest
  script:
  - cd ./backend/deliverymanagement
  - chmod +x mvnw
  - ./mvnw clean compile

build-emailnotification:
  stage: build
  image: maven:latest
  script:
  - cd ./backend/emailnotification
  - chmod +x mvnw
  - ./mvnw clean compile

build-eureka-discovery-service:
  stage: build
  image: maven:latest
  script:
  - cd ./backend/eureka-discovery-service
  - chmod +x mvnw
  - ./mvnw clean compile

build-gateway:
  stage: build
  image: maven:latest
  script:
  - cd ./backend/gateway
  - chmod +x mvnw
  - ./mvnw clean compile

build-usernmgnmt:
  stage: build
  image: maven:latest
  script:
  - cd ./backend/usernmgnmt
  - chmod +x mvnw
  - ./mvnw clean compile

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

gitlab-ci.yml
  .gitlab-ci.yml
Due: none

asedeliverymodels attempt to fix
  backend/asedeliverymodels/pom.xml
  backend/asedeliverymodels/target/classes/module-info.class
Due: none

asedeliverymodels fucked up
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/Address.class
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/AseUser.class
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/AseUserPrincipal.class
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/Box.class
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/BoxStatus.class
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/Constants.class
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/Delivery.class
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/DeliveryStatus.class
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/UserRole.class
  backend/asedeliverymodels/target/classes/edu/tum/ase/asedelivery/asedeliverymodels/Validation.class
  backend/asedeliverymodels/target/classes/module-info.class
Due: none

asedeliverymodels package, other modules can't use
  backend/asedeliverymodels/pom.xml
  backend/asedeliverymodels/src/main/java/module-info.java
Due: none

asedeliverymodels try to fix
  backend/asedeliverymodels/src/main/java/edu/tum/ase/asedelivery/asedeliverymodels/Box.java
  backend/boxmanagement/pom.xml
  backend/boxmanagement/src/main/java/edu/tum/ase/asedelivery/boxmanagement/BoxManagementApplication.java
  backend/boxmanagement/src/main/java/edu/tum/ase/asedelivery/boxmanagement/controller/BoxController.java
  backend/boxmanagement/src/test/java/edu/tum/ase/asedelivery/deliverymanagement/DeliverymanagementApplicationTests.java
  backend/deliverymanagement/src/test/java/edu/tum/ase/asedelivery/deliverymanagement/DeliverymanagementApplicationTests.java
  backend/usermngmt/src/test/java/edu/tum/ase/asedelivery/usermngmt/UsermngmtApplicationTests.java
Due: build-boxmanagement, build-deliverymanagement

Working jwt Cookie
  backend/gateway/src/main/resources/application.yml
  backend/usermngmt/src/main/java/edu/tum/ase/asedelivery/usermngmt/controller/AuthController.java
  backend/usermngmt/src/main/java/edu/tum/ase/asedelivery/usermngmt/controller/UserController.java
  frontend/ase_frontend/src/views/Box/boxesSlice.js
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
  frontend/ase_frontend/src/views/Login.js
  frontend/ase_frontend/src/views/User/usersSlice.js
Due: build-gateway

Less convoluted Login example
  frontend/ase_frontend/src/views/Login.js
Due: none

updating all essential get services to use RequestParam instead of RequestBody
  backend/boxmanagement/src/main/java/edu/tum/ase/asedelivery/boxmanagement/controller/BoxController.java
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/controller/DeliveryController.java
  backend/usermngmt/src/main/java/edu/tum/ase/asedelivery/usermngmt/controller/UserController.java
Due: build-boxmanagement, build-deliverymanagement

update delivery
  frontend/ase_frontend/src/views/Delivery/AddNewDeliveryForm.js
  frontend/ase_frontend/src/views/Delivery/DeliveriesList.js
  frontend/ase_frontend/src/views/Delivery/EditDeliveryForm.js
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
Due: none

current status
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
  frontend/ase_frontend/src/views/Login.js
Due: none

making Get request parameters optional
  backend/boxmanagement/src/main/java/edu/tum/ase/asedelivery/boxmanagement/controller/BoxController.java
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/controller/DeliveryController.java
Due: build-boxmanagement, build-deliverymanagement

Make parameters optional for delivery Controller
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/controller/DeliveryController.java
Due: build-deliverymanagement

Add first functionalities from the backend
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/DeliveryManagementApplication.java
  backend/usermngmt/src/main/java/edu/tum/ase/asedelivery/usermngmt/UserMngmtApplication.java
  frontend/ase_frontend/src/views/Delivery/AddNewDeliveryForm.js
  frontend/ase_frontend/src/views/Delivery/DeliveriesList.js
  frontend/ase_frontend/src/views/Delivery/EditDeliveryForm.js
  frontend/ase_frontend/src/views/Delivery/deliveriesSlice.js
Due: build-deliverymanagement

fix deliverymanagement dependency bug
  backend/boxmanagement/pom.xml
  backend/boxmanagement/src/test/java/edu/tum/ase/asedelivery/boxmanagement/BoxmanagementApplicationTests.java
  backend/boxmanagement/src/test/java/edu/tum/ase/asedelivery/deliverymanagement/DeliverymanagementApplicationTests.java
Due: build-boxmanagement

Change dockerfile
  backend/boxmanagement/Dockerfile
Due: none

Change dockerfiles
  backend/boxmanagement/Dockerfile
  backend/deliverymanagement/Dockerfile
  backend/emailnotification/Dockerfile
  backend/eureka-discovery-service/Dockerfile
  backend/gateway/Dockerfile
  backend/usermngmt/Dockerfile
Due: none

Update .gitlab-ci.yml, .gitlab-c2.yml
  .gitlab-c2.yml
Due: none

Change dockerfile discovery (CI working)
  backend/eureka-discovery-service/Dockerfile
Due: none

bugfix email notification create delivery
  backend/deliverymanagement/src/main/java/edu/tum/ase/asedelivery/deliverymanagement/controller/DeliveryController.java
Due: build-deliverymanagement

Path conditions:
  build-boxmanagement: any of: backend/boxmanagement/src/**/*
  build-deliverymanagement: any of: backend/deliverymanagement/src/**/*
  build-emailnotification: any of: backend/emailnotification/src/**/*
  build-eureka-discovery-service: any of: backend/eureka-discovery-service/src/**/*
  build-gateway: any of: backend/gateway/src/**/*
  build-usernmgnmt: any of: backend/usernmgnmt/src/**/*
